<div class="box">
    <h1>Productoss</h1>
    <h2>Bienvenido {{username}}</h2>
    
    <div class="cards-container">
      {{#if result.isValid}}
        <div>
        {{#each result.docs}}
            <div class="card">
                <h3>{{this.title}}</h3>
                <hr>
                <p>Categoria: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
            </div>
        {{/each}}
        </div>
        <hr>
        <div>
            {{#if result.hasPrevPage}}
                <a href="{{result.prevLink}}"><< Anterior</a>
            {{/if}}
        </div>
        <br>
        <div>
            {{#if result.hasNextPage}}
                <a href="{{result.nextLink}}">Siguiente >></a>
            {{/if}}
        </div>
    {{else}}
       <h2>No hay productos para mostrar</h2>
    {{/if}}
</div>
    </div>
</div>
