
  <h1>Agregar Nuevo Producto</h1>

  <form id="formAgregarProducto">
    <div>
      <label for="title">Nombre:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="code">Código:</label>
      <input type="text" id="code" name="code" required>
    </div>
    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div>
      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required>
    </div>
    <div>
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required>
    </div>
    <div>
      <label for="category">Categoría:</label>
      <input type="text" id="category" name="category" required>
    </div>
    <button id="button-create" onclick="createProduct(event)">Agregar Producto</button>
  </form>

 <hr>

    <div class="cards-container">
        {{#each products}}
            <div class="card">
                <h3>{{this.title}}</h3>
                <hr>
                <p>Categoria: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
                <button id="button-delete" onclick="deleteProduct({{this.id}})">Eliminar</button>
            </div>
        {{/each}}
    </div>
</div>
  <script src="/socket.io/socket.io.js"></script>
  
  <script src="/js/index.js"></script>
    
